section.matches, section.keys{
  width: 100%;
  margin: 20px 0;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  row-gap: 25px;
}

div.title {
  flex-basis: 100%;
}