img {
  width: 16px;
}

section.hero {
  height: 80vh;
  border-bottom: 1px solid darkgray;
  padding: 100px 0;

  display: flex;
  align-items: center;
}

h1 {
  line-height: normal;
  color: goldenrod;
  font-size: 500%;
  margin-bottom: 10px;
  text-align: center;
  padding: 40px;

  flex: 1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-container .button-container {
  padding: 10px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-container button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: goldenrod;
  color: #fff;
  font-weight: 700;
  font-size: 80%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-container button:hover {
  background-color: rgb(190, 144, 30);
  transform: scale(1.05);
}

section.hero img {
  min-height: 400px;
  min-width: 400px;
  max-width: 400px;

  flex: 2;
}