section.group {
  width: 100%;
  margin: 20px 0;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  row-gap: 25px;
}

div.nav-bar {
  flex-basis: 100%;
}

h2 {
  font-size: 3rem;
  color: darkgrey;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

div.card-group {
  width: 295px;
  padding: 0 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.6);
  font-size: 0.9rem;
  min-width: 270px;
  color: darkgray;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.card-group table * {
  margin: 1px 2px;
}

div.card-group table span {
  font-weight: 900;
  color: gray;
}

div.card-group caption {
  text-align: left;
  font-weight: 900;
  font-size: 1.5rem;
  color: black;
  background-color: #fff;
  padding: 5px;
  max-width: fit-content;

  position: relative;
  left: 80px;
  top: -20px;
}

div.card-group th {
  color: darkgray;
  text-align: left;
  font-weight: lighter;
}

div.card-group .team {
  background-color: #fff;
  max-width: 130px;
  overflow: hidden;
  text-wrap: nowrap;

  display: flex;
  gap: 2px;
  flex-wrap: nowrap;
}

div.card-group .team * {
  margin: 0;
}